services:
  # See https://github.com/Dreamacro/clash/wiki/Running-Clash-as-a-service#docker
  clash:
    # ghcr.io/dreamacro/clash
    # ghcr.io/dreamacro/clash-premium
    # dreamacro/clash
    # dreamacro/clash-premium
    image: dreamacro/clash-premium
    container_name: clash-premium
    volumes:
      - /root/.backup/mihomo-config.yaml:/root/.config/clash/config.yaml
      - ./profiles:/root/.config/clash/profiles
      # - ./ui:/ui # dashboard volume
    ports:
      - "710:7890"
      - "7891:7891"
      - "9090:9090" # external controller (Restful API)
    # TUN
    # cap_add:
    #   - NET_ADMIN
    # devices:
    #   - /dev/net/tun
    restart: unless-stopped
    network_mode: "bridge" # or "host" on Linux
  # See https://github.com/Dreamacro/clash/wiki/Running-Clash-as-a-service#docker
  yacd:
    image: ghcr.io/haishanh/yacd:master
    container_name: clash-yacd
    ports:
      - "9091:80"
    restart: unless-stopped
