# docker-compose.yml（所有节点通用）
# version: '3.8'

services:
  derper:
    build: .
    container_name: derper
    restart: unless-stopped
    ports:
      - "3478:3478/udp"
      - "5349:443/tcp"
    environment:
      - DERP_HOST=derp-aly.grep2000.com
      - DERP_CERT_MODE=manual
      - DERP_CERT_DIR=/app/certs
    volumes:
      - ./certs:/app/certs

    command: --hostname=derp-aly.grep2000.com --certmode=manual --certdir=/app/certs --stun -a :443 --stun-port=3478 --verify-clients=false
  
    env_file:
      - .env                                          # ← 每台服务器只改这一个文件
