# docker-compose.yml（所有节点通用）
# version: '3.8'

services:
  derper:
    build: .
    container_name: derper
    restart: unless-stopped
    ports:
      - "3478:3478/udp"
      - "443:443/tcp"
    # volumes:
    #   - ./certs:/app/certs
    entrypoint: ["sh", "-c", "rm -rf /var/lib/derper && exec derper"]
    command: >
      --verify-clients=false 
      --mesh-psk-file=/dev/null  # 明确指定
    env_file:
      - .env                                          # ← 每台服务器只改这一个文件
