services:
  metacubexd:
    container_name: metacubexd
    image: ghcr.io/metacubex/metacubexd
    restart: always
    ports:
      - '9091:80'

  meta:
    build:
      context: .
      # args:
      #   HTTP_PROXY: ${HTTP_PROXY}
      #   HTTPS_PROXY: ${HTTPS_PROXY}
    image: my-mihomo:latest
    container_name: meta
    restart: always
    # network_mode: host
    ports:
      - 711:7890
      - 9099:9090
    volumes:
      - /dev/net/tun:/dev/net/tun
      - ./config:/root/.config/mihomo
    environment:
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - http_proxy=${HTTP_PROXY}
      - https_proxy=${HTTPS_PROXY}
      - ALL_PROXY=${HTTP_PROXY}
